@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One&family=Passion+One&family=Sedgwick+Ave&family=Sriracha&display=swap');

:root{
    --fonte1:'Verdana', Geneva, Tahoma, sans-serif;
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: white;
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    color: white;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9.5vh;
    
    
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#conteudo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

h2{
    font-size: 1em;
    text-align: center;
    padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 4vh;
    line-height: 2em;
    font-family: var(--fonte3);
}
article{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 4vh;
    line-height: 2em;
    font-family: var(--fonte3);
}
article.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgb(0 0 0 / 48%);
    background-size: cover;
    background-attachment: fixed;
}
article > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.482);
    margin-left: 10px;
    text-shadow: 2px 2px 1px black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.482);
    border-radius: 5px;
}
article#img01{
              background-image: url('imagens/background001.jpg');
              background-position: right center;
}
article#img02{
              background-image: url('imagens/background002.jpg');
              
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 1.7vh;
}
